{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<section class="company-description">
    <div class="container">
        <div class="row">
                <iframe src="https://www.sagenda.net/Frontend/Calendar/5cc5e34581d4b9858ceb6e68" width="1300" height="1300" frameborder="0" allowtransparency="true" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-top-navigation allow-scripts allow-forms"></iframe>
            </div>
        </div>
    </div>

    
</section> 


{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.about.aboutItem }}
            <div class="col-lg-4 px-0">
                {{ $class := add $index 1 }}
                <div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

{{ partial "team.html" . }}

{{ partial "clients.html" . }}

{{ partial "footer.html" . }}