@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Glegoo);

/* .top-bar.animated-header {
  padding: 20px 0;
  background: rgb(165, 165, 165);
  box-shadow: none;
}

.navbar.bg-light {
  background: rgb(94, 93, 93)!important;
}

.navbar .nav-item .nav-link {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-weight: 500;
  transition: .3s all;
  text-transform: uppercase;
  padding: 5px 15px;
  display: block;
} */

/* .navbar.nav-item.nav-link {
  background: white;
} */

@media (max-width: 300px) {

}
@media (min-width: 301px) and (max-width: 600px) {

}
@media (min-width: 601px) and (max-width: 768px) {

}
@media (min-width: 1100px) {
  /* .navbar-brand {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/dark_embroidery.png)
  } */

  .top-bar.animated-header {
    background-image: url("/images/paintsplatter2.png")
  }
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-inner {
  background:transparent;
}

.navbar-brand img {
  position: relative;
  width: 75%;
  left: 15px;
  background-size: contain;
  max-height: 75%;
}

.mycontainer {
  margin-top: 100px;
  margin-bottom: 100px;
}

.global-page-header {
  background-attachment: fixed;
  background-size: cover;
  padding: 120px 0 25px 0;
  position: relative;
  background: #cd26ee;
  color: #fff;
}

#hero-area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 230px 0;
  color: rgb(7, 231, 45);
  box-shadow: 0 0 0px rgba(223, 7, 7, 0.3);
  position: relative;
}

#hero-area:before {
  content: '';
  z-index: 9;
  background: rgba(226, 226, 226, 0.000);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-area .block {
  position: relative;
  z-index: 9;
}

#hero-area h1 {
  font-size: 40px;
  line-height: 50px;
  color: rgb(224, 224, 224);
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#hero-area h2 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  line-height: 27px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
  background: rgba(0, 0, 0, 0.3);
}

#hero-area .btn {
  background: #414141;
  border: none;
  color: #fff;
  padding: 20px 35px;
  margin-top: 30px;
  font-size: 16px;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  border-radius: 0;
}

.cd-headline.slide .cd-words-wrapper {
  color: #cefa0a;
}

