{{ partial "header.html" . }}

{{ partial "page-title.html" . }}

{{ "<!-- Company Description Section Start -->" | safeHTML }}
<main class="container mycontainer">
    <!-- <header class="page-header">
      <h1 class="entry-title">Contact</h1>
    </header> -->
  
    <div class="contact">
      <!-- <div class="alert alert-success"><strong><span class="glyphicon glyphicon-send"></span> Success! Message sent. (If form ok!)</strong></div>
      <div class="alert alert-danger"><span class="glyphicon glyphicon-alert"></span><strong> Error! Please check the inputs. (If form error!)</strong></div>
      <div class="alert alert-info"><span class="glyphicon glyphicon-exclamation-sign"></span><strong> The form is provided by <a href="http://formspree.io/">Formspree.</a> Follow the directions on their site to set up the form for use. (No need PHP!)</strong></div> -->
      <div class="row">
        <div class="col-lg-6">
            <!-- modify this form HTML and place wherever you want your form -->

            <form
              action="https://formspree.io/f/seanoneill.inbox@gmail.com"
              method="POST"
            >
              <label>
                Your email:
                <input type="email" name="_replyto">
              </label>
              <label>
                Your message:
                <textarea name="message"></textarea>
              </label>

              <!-- your other form fields go here -->
              <button type="submit">Send</button>
            </form>
            
      </div>
      <hr class="hidden-lg">
      <div class="col-lg-5 col-md-offset-1">
        <address>
          <h3>Located at</h3>
          <p class="lead"><a href="https://www.google.com/maps/place/Collegeville,+PA+19426/@40.1876099,-75.478936,14z/data=!3m1!4b1!4m5!3m4!1s0x89c690bb7bb43355:0xec785b3662b91aa5!8m2!3d40.1856597!4d-75.451571">Collegeville<br>
          Pennsylvannia, 19426</a><br>
          Phone: 609-674-8034</p>
          <!-- <br>Fax: XXX-XXX-YYYY -->
      </address>
      </div>
    </div>
  </main>

{{ "<!--  Company Feature Section Start -->" | safeHTML }}
<section class="about-feature clearfix">
    <div class="container-fluid">
        <div class="row">
            {{ range $index, $element := .Site.Data.about.aboutItem }}
            <div class="col-lg-4 px-0">
                {{ $class := add $index 1 }}
                <div class="block about-feature-{{ $class }} wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                    {{ with .title }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .description }}<p>{{ . }}</p>{{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ "<!--  Company Feature Section End -->" | safeHTML }}

<!-- {{ partial "team.html" . }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }} -->

{{ partial "footer.html" . }}
